<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>

        <script src="asset/js/jquery-3.3.1.min.js"></script>
        <script src="asset/js/jquery-ui.js"></script>

        <link href="asset/css/jquery-ui.css" rel="stylesheet">
        <link href="asset/css/portfolio.css" rel="stylesheet">

        <!-- From https://jqueryui.com/tabs/ -->

        <!-- https://mottie.github.io/tablesorter/docs/ -->
        <link href="asset/js/tablesorter-master/dist/css/theme.default.min.css" rel="stylesheet">
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script>
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script>

        <!-- https://github.com/akquinet/jquery-toastmessage-plugin -->
        <script src="asset/js/jquery-toastmessage-plugin/src/main/javascript/jquery.toastmessage.js"></script>
        <link href="asset/js/jquery-toastmessage-plugin/src/main/resources/css/jquery.toastmessage.css" rel="stylesheet">
        

        <script>
            $(function () {
                // Enable tabs
                $(".tabs").tabs();
                
                // Enable table sorter
                $(".tablesorter").tablesorter();
                
                // Enable tooltip
                $( document ).tooltip();
            });
            
            
            /**
             * @author http://www.manasbhardwaj.net/get-unique-values-from-a-javascript-array-using-jquery/
             * @param array index
             * @returns array
             */
            function GetUnique(inputArray)
            {
                    var outputArray = [];
                    var key = [];
                    for (var i = 0; i < inputArray.length; i++)
                    {
                            if ((jQuery.inArray(inputArray[i].symbol, key)) == -1)
                            {
                                    key.push(inputArray[i].symbol);
                                    outputArray.push(inputArray[i]);
                            }
                    }
                    return outputArray;
            }


            $(document).ready(function () {

                var debug = true;
                
                // Get list of unique share to reload
                var share_symbol = [];
                $("tr[data-id_share][data-share_active='active']").each(function () {
                    var share = {};
                    share.symbol = $(this).data('share_symbol');
                    share.open_market = $(this).data('share_openmarket');
                    share.last_price = null;
                    share.url = $(this).data('share_url');
                    share_symbol.push(share);
                });
                share_symbol = GetUnique(share_symbol);

                if (debug) {
                    console.log(share_symbol);
                }
                
                var today = new Date();
                global_active = false;
                function setActive(active) {
                    global_active = active;
                }
                function isActive() {
                    return global_active;
                }


                
                function reloadShare() {
                    
                    var share_count = share_symbol.length;
                    
                    $(share_symbol).each(function (index, share) {
                        
                        if ( (null == share.last_price || ("24" == share.open_market) || ((0 < today.getDay() && (today.getDay() < 6))))) {
                            
                            if (debug) {
                                console.log('Retrieve Share "'+share.symbol+'". LastPrice : '+share.last_price+', share.open_market : '+share.open_market+', GetDay : '+today.getDay());
                            }

                            var url = share.url;
                            var jqxhr = $.ajax(url)
                                    .done(function (msg) {
                                        $(this).price = '';
                                        var tmp = msg["Time Series (1min)"];
                                        var current_price = null;
                                        for (var date in tmp) {
                                            if (null == current_price) {
                                                current_price = Math.round((tmp[date]["4. close"] * 100) / 100);
                                            }
                                        }

                                        if (debug) {
                                            console.log(share.symbol + ' : ' + current_price);
                                        }
                                        
                                        share.last_price = current_price;

                                        if (null == current_price) {
                                            $().toastmessage('showWarningToast', share.symbol + " price is null");
                                        } else {
                                            updateShareLine(share.symbol, current_price);
                                            updateShareTableTotal(share.symbol);
                                         }

                                         share_count--;

                                         if (0==share_count)  {
                                             $().toastmessage('showSuccessToast', "Prices updated");
                                             setActive(false);
                                         }


                                    })
                                    .fail(function (msg) {
                                        $().toastmessage('showErrorToast', "Error : "+msg);
                                        console.log(msg);
                                    })
                                    .always(function (msg) {
                                        //console.log(msg);
                                        //alert( "complete");
                                    });
                        }
                    });
                }
                
                function updateShareLine(symbol, current_price) {
                    $("tbody tr[data-share_symbol='"+symbol+"'][data-share_active='active']").each(function () {
                        // Set current price
                        $(this).find('[data-current_unit_price]').data('current_unit_price', current_price);
                        $(this).find('[data-current_unit_price]').html(current_price);
                        
                        // Retrieve values
                        var capital = parseFloat($(this).data('capital'));
                        var buying_price = parseFloat($(this).data('buying_unit_price'));
                        var quantity = parseInt($(this).data('quantity'));
                        var share_fee_fixed = parseFloat($(this).data('portfolio_share_fee_fixed'));
                        var share_fee_percent = parseFloat($(this).data('portfolio_share_fee_percent'));
                        var gain_price = parseFloat($(this).data('gain_price'));
                        
                        // Calculate
                        var virtual_capital = (current_price * quantity * (1-share_fee_percent)) - share_fee_fixed;
                        var virtual_capital_gain = virtual_capital - capital;
                        var virtual_gain_percent = virtual_capital_gain / capital * 100;
                        var overall_gain = virtual_capital_gain + gain_price;
                        var overall_percent = overall_gain / capital * 100;

                        if (debug) {
                            console.log('Symbol : ' + symbol);
                            console.log('capital : ' + capital);
                            console.log('buying_price : ' + buying_price);
                            console.log('quantity : ' + quantity);
                            console.log('share_fee_fixed : ' + share_fee_fixed);
                            console.log('share_fee_percent : ' + share_fee_percent);
                            console.log('gain_price : ' + gain_price);
                            console.log('virtual_capital : ' + virtual_capital);
                            console.log('virtual_capital_gain : ' + virtual_capital_gain);
                            console.log('virtual_gain_percent : ' + virtual_gain_percent);
                            console.log('overall_gain : ' + overall_gain);
                            console.log('overall_percent : ' + overall_percent);
                        }


                        // Set Virtual capital
                        $(this).find('[data-virtual_capital]').data('virtual_capital', virtual_capital);
                        $(this).find('[data-virtual_capital]').html(Math.round((virtual_capital * 100) / 100));
                        
                        // Set Virtual capital gain
                        $(this).find('[data-virtual_capital_gain]').data('virtual_capital_gain', virtual_capital_gain);
                        $(this).find('[data-virtual_capital_gain]').html(Math.round((virtual_capital_gain * 100) / 100));
                        
                        // Set Virtual capital gain percent
                        $(this).find('[data-virtual_gain_percent]').data('virtual_gain_percent', virtual_gain_percent);
                        $(this).find('[data-virtual_gain_percent]').html(Math.round((virtual_gain_percent * 100) / 100));

                        // Set overall gain
                        $(this).find('[data-overall_gain]').data('overall_gain', overall_gain);
                        $(this).find('[data-overall_gain]').html(Math.round((overall_gain * 100) / 100));
                        
                        // Set overall percent
                        $(this).find('[data-overall_percent]').data('overall_percent', overall_percent);
                        $(this).find('[data-overall_percent]').html(Math.round((overall_percent * 100) / 100));
                    });
                }
                
                function updateShareTableTotal(symbol) {

                    $("tbody tr[data-share_symbol='"+symbol+"']").each(function () {
                        // Search table to get sum
                        $(this).parents('table').each(function () {
$(this).hide();
                            // Init data
                            var capital = 0;
                            var quantity = 0;
                            var share_fee_fixed = 0;
                            var share_fee_percent = 0;
                            var gain_price = 0;
                            var virtual_capital = 0;
                            $(this).find('tbody tr').each(function() {
                                capital += parseFloat($(this).find('[data-capital]').data('capital'));
                                quantity += parseInt($(this).find('[data-quantity]').data('quantity'));
                                share_fee_fixed += parseFloat($(this).data('portfolio_share_fee_fixed'));
                                share_fee_percent += parseFloat($(this).data('portfolio_share_fee_percent')) * capital;
                                gain_price += parseFloat($(this).find('[data-gain_price]').data('gain_price'));
                                virtual_capital += parseFloat($(this).find('[data-virtual_capital]').data('virtual_capital'));
                            });
                            // Calculate
                            var virtual_capital_gain = virtual_capital - capital;
                            var virtual_gain_percent = virtual_capital_gain / capital * 100;
                            var overall_gain = virtual_capital_gain + gain_price;
                            var overall_percent = overall_gain / capital * 100;
  
                            // Set Virtual capital
                            $(this).find('tfoot [data-virtual_capital]').data('virtual_capital', virtual_capital);
                            $(this).find('tfoot [data-virtual_capital]').html(Math.round((virtual_capital * 100) / 100));

                            // Set Virtual capital gain
                            $(this).find('tfoot [data-virtual_capital_gain]').data('virtual_capital_gain', virtual_capital_gain);
                            $(this).find('tfoot [data-virtual_capital_gain]').html(Math.round((virtual_capital_gain * 100) / 100));

                            // Set Virtual capital gain percent
                            $(this).find('tfoot [data-virtual_gain_percent]').data('virtual_gain_percent', virtual_gain_percent);
                            $(this).find('tfoot [data-virtual_gain_percent]').html(Math.round((virtual_gain_percent * 100) / 100));

                            // Set overall gain
                            $(this).find('tfoot [data-overall_gain]').data('overall_gain', overall_gain);
                            $(this).find('tfoot [data-overall_gain]').html(Math.round((overall_gain * 100) / 100));

                            // Set overall percent
                            $(this).find('tfoot [data-overall_percent]').data('overall_percent', overall_percent);
                            $(this).find('tfoot [data-overall_percent]').html(Math.round((overall_percent * 100) / 100));
                        });
                    });
                }
                


                reloadShare();
                window.setInterval(function(){
                    reloadShare();
                }, 30000);


            });

        </script>


    </head>
    <body>
        <h1>Bonjour <?php echo $templateVar['user']->name; ?></h1>
        <div class="tabs">
            <ul>
                <li><a href="#tab-shares">Shares</a></li>
                <li><a href="#tab-historic">Historic</a></li>
            </ul>

            <div id="tab-shares" class='tabs'>
                <?php
                
                // Order shares by name
                $share_by_name = [];
                foreach($templateVar['user']->shares as $user_share) {
                    $share_by_name[$user_share->share->name] = $user_share;
                }
                ksort($share_by_name);
                
                ?>
                <ul>
                    <li><a href="#tab-share-resume">Resume</a></li>
                    <?php 
                    foreach($share_by_name as $name => $user_share) {
                    ?>
                    <li><a href="#tab-share-<?php echo $user_share->share->id;?>"><?php echo $name.($user_share->isActive()?' *':'');?></a></li>
                    <?php 
                    }
                    ?>
                </ul>

                <div id="tab-share-resume" class="share" >
                    <?php
                    include __DIR__.'/share_resume.inc.html';
                    ?>
                </div>
                <?php 
                foreach($share_by_name as $name => $user_share) {
                ?>
                <div id="tab-share-<?php echo $user_share->share->id;?>" class="share <?php echo $name.($user_share->isActive()?'active':'inactive');?>" >
                    <?php
                    include __DIR__.'/share.inc.html';
                    ?>
                </div>
                <?php 
                }
                ?>
            </div>
            <div id="tab-historic">
                <?php
                include __DIR__.'/historic.inc.html';
                ?>
            </div>
        </div>
        
        <pre>
            @TODO : Shares -> Resumes
            @TODO : Portfolios -> 1 page per portfolio
            @TODO : Portfolios -> 1 page per portfolio active  /unactive
            @TODO : Portfolios -> Resumes
            @TODO : Portfolios -> Add cash / balance
            @TODO : Benchmark
            @TODO : Shares -> Add color
            @TODO : Hsitoric -> Add color
            @TODO : Benchmark : Make an historic
            @TODO : Porfolio : Make an historic
            @TODO : Performances -> Portfolio -> Set graph with benchmark
            @TODO : Order and align table
            @TODO : Swap to https://fr.tradingview.com/rest-api-spec/
        </pre>

        @Monnaie : Etherum / Bitcoin /Ripple
        @Information Ocfx / Coin checkup
        @Plateforme Kirachan / Bitstamp
    </body>
</html>
