<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>

        <script src="asset/js/jquery-3.3.1.min.js"></script>
        <script src="asset/js/jquery-ui.js"></script>

        <link href="asset/css/jquery-ui.css" rel="stylesheet">
        <link href="asset/css/portfolio.css" rel="stylesheet">

        <!-- From https://jqueryui.com/tabs/ -->
        <!--
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
        -->

        <!-- https://mottie.github.io/tablesorter/docs/ -->
        <link href="asset/js/tablesorter-master/dist/css/theme.default.min.css" rel="stylesheet">
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script>
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script>

        <!-- https://github.com/akquinet/jquery-toastmessage-plugin -->
        <script src="asset/js/jquery-toastmessage-plugin/src/main/javascript/jquery.toastmessage.js"></script>
        <link href="asset/js/jquery-toastmessage-plugin/src/main/resources/css/jquery.toastmessage.css" rel="stylesheet">
        

        <script>
            $(function () {
                // Enable tabs
                $(".tabs").tabs();
                $(".tablesorter").tablesorter();
            });
            
            
            /**
             * @author http://www.manasbhardwaj.net/get-unique-values-from-a-javascript-array-using-jquery/
             * @param array index
             * @returns array
             */
            function GetUnique(inputArray)
            {
                    var outputArray = [];
                    for (var i = 0; i < inputArray.length; i++)
                    {
                            if ((jQuery.inArray(inputArray[i], outputArray)) == -1)
                            {
                                    outputArray.push(inputArray[i]);
                            }
                    }
                    return outputArray;
            }
            
            function reloadPortfolioTotal(table) {
                var spend = 0;
                var total_virtual_gain_price = 0;
                var total_virtual_gain_percent = 0;
                var total_gain_price = 0;
                var total_gain_percent = 0;
                table.find('tbody tr').each(function(index, tr){
                    spend += $(tr).find('td[data-buying_unit_price]').data('buying_unit_price') * $(tr).find('td[data-quantity]').data('quantity');
                    total_virtual_gain_price += $(tr).find('td[data-virtual_gain_price]').data('virtual_gain_price');
                    total_gain_price += $(tr).find('td[data-gain_price]').data('gain_price');
                });
                total_virtual_gain_percent = total_virtual_gain_price / spend * 100;
                total_gain_percent = total_gain_price / spend * 100;
                
                var virtual_gain_loose_gain = 'gain';
                    if (total_virtual_gain_percent<0) {
                        virtual_gain_loose_gain='loose';
                }
                var gain_loose_gain = 'gain';
                    if (total_gain_percent<0) {
                        gain_loose_gain='loose';
                }
                table.find('td[data-total_virtual_gain_price]').data('total_virtual_gain_price', Math.round((total_virtual_gain_price * 100) / 100));
                table.find('tfoot span.total_virtual_gain_price').html(total_virtual_gain_price);
                table.find('tfoot td[data-total_virtual_gain_price]').removeClass('gain loose');
                table.find('tfoot td[data-total_virtual_gain_price]').addClass(virtual_gain_loose_gain);
                
                table.find('td[data-total_virtual_gain_percent]').data('total_virtual_gain_percent', Math.round((total_virtual_gain_percent * 100) / 100));
                table.find('tfoot span.total_virtual_gain_percent').html(Math.round((total_virtual_gain_percent * 100) / 100));
                table.find('tfoot td[data-total_virtual_gain_percent]').removeClass('gain loose');
                table.find('tfoot td[data-total_virtual_gain_percent]').addClass(virtual_gain_loose_gain);
                
                table.find('td[data-total_gain_price]').data('total_gain_price', Math.round((total_gain_price * 100) / 100));
                table.find('tfoot span.total_gain_price').html(total_gain_price);
                table.find('tfoot td[data-total_gain_price]').removeClass('gain loose');
                table.find('tfoot td[data-total_gain_price]').addClass(gain_loose_gain);
                
                table.find('td[data-total_gain_percent]').data('total_gain_percent', Math.round((total_gain_percent * 100) / 100));
                table.find('tfoot span.total_gain_percent').html(Math.round((total_gain_percent * 100) / 100));
                table.find('tfoot td[data-total_gain_percent]').removeClass('gain loose');
                table.find('tfoot td[data-total_gain_percent]').addClass(gain_loose_gain);
            }


            $(document).ready(function () {

                var debug = true;
                
                // Get list of unique share
                var share_symbol = [];
                $("tr[data-id_share].active").each(function () {
                    share_symbol.push($(this).data('id_share'));
                });
                share_symbol = GetUnique(share_symbol);

                if (debug) {
                    console.log(share_symbol);
                }


                var share_count = share_symbol.length;
                $(share_symbol).each(function (index, symbol) {
                    if (debug) {
                        console.log('Retrieve Share "'+symbol+'"');
                    }
                    
                    var url = "<?php echo $templates['user']->webservice[1]->url; ?>".replace("@symbol@", symbol);
                    var jqxhr = $.ajax(url)
                            .done(function (msg) {
                                $(this).price = '';
                                var tmp = msg["Time Series (1min)"];
                                var current_price = null;
                                for (var date in tmp) {
                                    if (null == current_price) {
                                        current_price = tmp[date]["4. close"];
                                    }
                                }
                                
                                if (debug) {
                                    console.log(symbol + ' : ' + current_price);
                                }
                                
                                if (null == current_price) {
                                    $().toastmessage('showWarningToast', symbol + " price is null");
                                } else {
                                    $("tr[data-id_share='"+symbol+"'].active").each(function () {
                                        $(this).find('td[data-current_unit_price]').data('current_unit_price', current_price);
                                        $(this).find('td[data-current_unit_price] span.current_unit_price').html(current_price);

                                        var buying_price = parseFloat($(this).find('[data-buying_unit_price]').data('buying_unit_price'));
                                        var quantity = parseInt($(this).find('[data-quantity]').data('quantity'));
                                        var last_fee_fixed = parseFloat($(this).data('last_fee_fixed'));
                                        var last_fee_percent = parseFloat($(this).data('last_fee_percent'));
                                        var virtual_gain = ((current_price - buying_price) * quantity) - last_fee_fixed - (last_fee_percent * quantity * buying_price);
                                        var virtual_gain_percent = virtual_gain / (buying_price * quantity) * 100;

                                        var capitalGain = parseFloat($(this).find('[data-totalGain]').data('totalgain'));
                                        var virtual_gain_loose_gain = 'gain';
                                        if (virtual_gain<0) {
                                            virtual_gain_loose_gain='loose';
                                        }
                                        $(this).find('td[data-virtual_gain_price] span.virtual_gain_price').html(Math.round((virtual_gain * 100) / 100));
                                        $(this).find('td[data-virtual_gain_price]').data('virtual_gain_price', Math.round((virtual_gain * 100) / 100));
                                        $(this).find('td[data-virtual_gain_price]').removeClass('gain loose');
                                        $(this).find('td[data-virtual_gain_price]').addClass(virtual_gain_loose_gain);

                                        $(this).find('td[data-virtual_gain_percent] span.virtual_gain_percent').html(Math.round((virtual_gain_percent * 100) / 100));
                                        $(this).find('td[data-virtual_gain_percent]').data('virtual_gain_percent', Math.round((virtual_gain_percent * 100) / 100));
                                        $(this).find('td[data-virtual_gain_percent]').removeClass('gain loose');
                                        $(this).find('td[data-virtual_gain_percent]').addClass(virtual_gain_loose_gain);
                                        
                                        var gain = virtual_gain + capitalGain;
                                        var gain_percent = gain / (buying_price * quantity) * 100;
                                        var gain_loose_gain = 'gain';
                                        if (gain<0) {
                                            gain_loose_gain='loose';
                                        }
                                        $(this).find('td[data-gain_price] span.gain_price').html(Math.round((gain * 100) / 100));
                                        $(this).find('td[data-gain_price]').data('gain_price', Math.round((gain * 100) / 100));
                                        $(this).find('td[data-gain_price]').removeClass('gain loose');
                                        $(this).find('td[data-gain_price]').addClass(gain_loose_gain);
                                        
                                        $(this).find('td[data-gain_percent] span.gain_percent').html(Math.round((gain_percent * 100) / 100));
                                        $(this).find('td[data-gain_percent]').data('gain_percent', Math.round((gain_percent * 100) / 100));
                                        $(this).find('td[data-gain_percent]').removeClass('gain loose');
                                        $(this).find('td[data-gain_percent]').addClass(gain_loose_gain);
                                        
                                        reloadPortfolioTotal($(this).parents('table'));

                                     });
                                 }
                                 
                                 share_count--;
                                 
                                 if (0==share_count)  {
                                     $().toastmessage('showSuccessToast', "Prices updated");
                                 }
                                

                            })
                            .fail(function (msg) {
                                $().toastmessage('showErrorToast', "Error : "+msg);
                                console.log(msg);
                            })
                            .always(function (msg) {
                                //console.log(msg);
                                //alert( "complete");
                            });
                });
                





                while (1 == 2) {
                    setTimeout(
                            function ()
                            {
                                console.log($.now());
                                // Foreach share
                                // Call api to get last value
                                // Update values
                            }, 5000);
                }

            });

        </script>


    </head>
    <body>
        <h1>Bonjour <?php echo $templates['user']->name; ?></h1>
        <div class="tabs">
            <ul>
                <li><a href="#tab-performances">Performances</a></li>
                <li><a href="#tab-historic">Historic</a></li>
            </ul>

            <div id="tab-performances">
                <div class="tabs">
                    <ul>
                        <?php 
                        foreach ($templates['dashboard']['performance']['byPortfolio']['portfolios'] as $performance_portfolio) {
                        ?>
                        <li><a href="#tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>"><?php echo $performance_portfolio->portfolio->name;?></a></li>
                        <?php 
                        }
                        ?>
                    </ul>

                    <?php 
                    foreach ($templates['dashboard']['performance']['byPortfolio']['portfolios'] as $performance_portfolio) {
                        
                    ?>
                    <div id="tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>">
                        <div class="tabs">
                            <ul>
                                <li><a href="#tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>-active">Active</a></li>
                                <li><a href="#tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>-inactive">Inactive</a></li>
                            </ul>
                            
                            <div id="tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>-active">
                                <?php
                                include __DIR__.'/portfolio-shares-active.inc.html';
                                ?>
                            </div>
                            <div id="tab-performance-portfolio-<?php echo $performance_portfolio->portfolio->id;?>-inactive">
                                <?php
                                include __DIR__.'/portfolio-shares-inactive.inc.html';
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php 
                    }
                    ?>
                </div>
                        
            </div>
            <div id="tab-historic">
                <table class="tablesorter">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Portfolio</th>
                            <th>Share</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Type</th>
                            <th>Fee Fixed</th>
                            <th>Fee percent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                        foreach ($templates['dashboard']['historic'] as $transaction) {
                        ?>
                        <tr 
                            data-id_share="<?php echo $transaction->share->id; ?>"
                        >
                            <th><?php echo $transaction->date->format('d/m/Y'); ?></th>
                            <th><?php echo $transaction->portfolio->name; ?></th>
                            <th><?php echo $transaction->share->name; ?></th>
                            <th><?php echo $transaction->quantity; ?></th>
                            <th><?php echo $transaction->unit_price; ?></th>
                            <th><?php echo $transaction->type; ?></th>
                            <th><?php echo $transaction->fee_fixed; ?></th>
                            <th><?php echo $transaction->fee_percent; ?></th>
                        </tr>
                        <?php 
                        }
                        ?>
                    </tbody>
                </table>
            </div>
        </div>
        
        <pre>
            @TODO : Performances -> Portfolio -> Active -> Reload data
            @TODO : Performances -> Portfolio -> Active -> Set total
            @TODO : Performances -> Portfolio -> Set cash value
            @TODO : Performances -> Portfolio -> Set total
            @TODO : Performances -> Portfolio -> Active -> Set a benchmark value
            @TODO : Performances -> Portfolio -> Set cash history value
            @TODO : Performances -> Portfolio -> Not Active -> Set quantity, unit_price mine and all CAC40, history 
            @TODO : Performances -> Portfolio -> Active -> Set quantity, unit_price mine and all CAC40, history 
            @TODO : Performances -> Portfolio -> Set graph with benchmark
            @TODO : Order and align table
            @TODO : Rebuild webservice management 
            @TODO : Replace last fee by fee
        </pre>

        @Monnaie : Etherum / Bitcoin /Ripple
        @Information Ocfx / Coin checkup
        @Plateforme Kirachan / Bitstamp
    </body>
</html>