<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>

        <script src="asset/js/jquery-3.3.1.min.js"></script>
        <script src="asset/js/jquery-ui.js"></script>

        <link href="asset/css/jquery-ui.css" rel="stylesheet">
        <link href="asset/css/portfolio.css" rel="stylesheet">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

        <!-- From https://jqueryui.com/tabs/ -->

        <!-- https://mottie.github.io/tablesorter/docs/ -->
        <link href="asset/js/tablesorter-master/dist/css/theme.default.min.css" rel="stylesheet">
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script>
        <script src="asset/js/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script>

        <!-- https://github.com/akquinet/jquery-toastmessage-plugin -->
        <script src="asset/js/jquery-toastmessage-plugin/src/main/javascript/jquery.toastmessage.js"></script>
        <link href="asset/js/jquery-toastmessage-plugin/src/main/resources/css/jquery.toastmessage.css" rel="stylesheet">
        

        <script>
            $(function () {
                // Enable tabs
                $(".tabs").tabs();
                
                // Enable table sorter
                $(".tablesorter").tablesorter();
                
                // Enable tooltip
                $( document ).tooltip();
            });
            
            
            /**
             * @author http://www.manasbhardwaj.net/get-unique-values-from-a-javascript-array-using-jquery/
             * @param array index
             * @returns array
             */
            function GetUnique(inputArray)
            {
                    var outputArray = [];
                    var key = [];
                    for (var i = 0; i < inputArray.length; i++)
                    {
                            if ((jQuery.inArray(inputArray[i].symbol, key)) == -1)
                            {
                                    key.push(inputArray[i].symbol);
                                    outputArray.push(inputArray[i]);
                            }
                    }
                    return outputArray;
            }


            $(document).ready(function () {

                var debug = true;
                
                // Get list of unique share to reload
                var share_symbol = [];
                $("tr[data-id_share][data-share_active='active']").each(function () {
                    var share = {};
                    share.symbol = $(this).data('share_symbol');
                    share.open_market = $(this).data('share_openmarket');
                    share.last_price = null;
                    share.url = $(this).data('share_url');
                    share_symbol.push(share);
                });
                share_symbol = GetUnique(share_symbol);

                if (debug) {
                    console.log(share_symbol);
                }
                
                var today = new Date();
                global_active = false;
                function setActive(active) {
                    global_active = active;
                }
                function isActive() {
                    return global_active;
                }


                
                function reloadShare() {
                    
                    var share_count = share_symbol.length;
                    
                    $(share_symbol).each(function (index, share) {
                        
                        if ( (null == share.last_price || ("24" == share.open_market) || ((0 < today.getDay() && (today.getDay() < 6))))) {
                            
                            if (debug) {
                                console.log('Retrieve Share "'+share.symbol+'". LastPrice : '+share.last_price+', share.open_market : '+share.open_market+', GetDay : '+today.getDay());
                            }

                            var url = share.url;
                            var jqxhr = $.ajax(url)
                                    .done(function (msg) {
                                        $(this).price = '';
                                        var tmp = msg["Time Series (1min)"];
                                        var current_price = null;
                                        for (var date in tmp) {
                                            if (null == current_price) {
                                                current_price = Math.round((tmp[date]["4. close"] * 100) / 100);
                                            }
                                        }

                                        if (debug) {
                                            console.log(share.symbol + ' : ' + current_price);
                                        }
                                        
                                        share.last_price = current_price;

                                        if (null == current_price) {
                                            $().toastmessage('showWarningToast', share.symbol + " price is null");
                                        } else {
                                            updateShareLine(share.symbol, current_price);
                                            updateShareTableTotal(share.symbol);
                                            
                                            share_count--;

                                            if (0==share_count)  {
                                                $().toastmessage('showSuccessToast', "Prices updated");
                                                setActive(false);
                                            }
                                        }




                                    })
                                    .fail(function (msg) {
                                        $().toastmessage('showErrorToast', "Error : "+msg);
                                        console.log(msg);
                                    })
                                    .always(function (msg) {
                                        //console.log(msg);
                                        //alert( "complete");
                                    });
                        }
                    });
                }
                
                function getShareLineInfo(tr, current_price) {
                    // Retrieve values
                    var data = (tr).data();

                    data.capital = parseFloat(data.capital);
                    data.buying_price = parseFloat(data.buying_unit_price);
                    data.quantity = parseInt(data.quantity);
                    data.share_fee_fixed = parseFloat(data.portfolio_share_fee_fixed);
                    data.share_fee_percent = parseFloat(data.portfolio_share_fee_percent);
                    data.gain_price = parseFloat(data.gain_price);

                    // Calculate
                    data.virtual_capital = (current_price * data.quantity * (1-data.share_fee_percent)) - data.share_fee_fixed;
                    data.virtual_capital_gain = data.virtual_capital - data.capital;
                    data.virtual_gain_percent = data.virtual_capital_gain / data.capital * 100;
                    data.overall_gain = data.virtual_capital_gain + data.gain_price;
                    data.overall_percent = data.overall_gain / data.capital * 100;

                    return data;
                }
                
                function updateShareLine(symbol, current_price) {
                    $("tbody tr[data-share_symbol='"+symbol+"'][data-share_active='active']").each(function () {

                        // Set current price
                        $(this).find('[data-current_unit_price]').data('current_unit_price', current_price);
                        $(this).find('[data-current_unit_price]').html(current_price);
                        
                        var shareInfo = getShareLineInfo($(this), current_price);
                        if (debug) {
                            shareInfo.method = 'updateShareLine';
                            console.log(shareInfo);
                        }
                        
                        var virtual_capital_gain_lg = "loose";
                        if (0 < shareInfo.virtual_capital_gain) {
                            virtual_capital_gain_lg = "gain";
                        }
                        var overall_capital_lg = "loose";
                        if (0 < shareInfo.overall_gain) {
                            overall_capital_lg = "gain";
                        }

                        // Set Virtual capital
                        $(this).find('[data-virtual_capital]').data('virtual_capital', shareInfo.virtual_capital);
                        $(this).find('[data-virtual_capital]').html(Math.round((shareInfo.virtual_capital * 100) / 100));
                        
                        // Set Virtual capital gain
                        $(this).find('[data-virtual_capital_gain]').data('virtual_capital_gain', shareInfo.virtual_capital_gain);
                        $(this).find('[data-virtual_capital_gain]').html(Math.round((shareInfo.virtual_capital_gain * 100) / 100));
                        $(this).find('[data-virtual_capital_gain]').parent().attr('data-loose_gain',virtual_capital_gain_lg);
                        
                        // Set Virtual capital gain percent
                        $(this).find('[data-virtual_gain_percent]').data('virtual_gain_percent', shareInfo.virtual_gain_percent);
                        $(this).find('[data-virtual_gain_percent]').html(Math.round((shareInfo.virtual_gain_percent * 100) / 100));
                        $(this).find('[data-virtual_gain_percent]').parent().attr('data-loose_gain',virtual_capital_gain_lg);

                        // Set overall gain
                        $(this).find('[data-overall_gain]').data('overall_gain', shareInfo.overall_gain);
                        $(this).find('[data-overall_gain]').html(Math.round((shareInfo.overall_gain * 100) / 100));
                        $(this).find('[data-overall_gain]').parent().attr('data-loose_gain',overall_capital_lg);
                        
                        // Set overall percent
                        $(this).find('[data-overall_percent]').data('overall_percent', shareInfo.overall_percent);
                        $(this).find('[data-overall_percent]').html(Math.round((shareInfo.overall_percent * 100) / 100));
                        $(this).find('[data-overall_percent]').parent().attr('data-loose_gain',overall_capital_lg);
                    });
                }
                
                function updateShareTableTotal(symbol) {

                    $("tbody tr[data-share_symbol='"+symbol+"']").each(function () {
                        // Search table to get sum
                        $(this).parents('table').each(function () {
                            // Init data
                            var capital = 0;
                            var quantity = 0;
                            var share_fee_fixed = 0;
                            var share_fee_percent = 0;
                            var gain_price = 0;
                            var virtual_capital = 0;
                            $(this).find('tbody tr').each(function() {
                                var shareInfo = getShareLineInfo($(this), 0);
                                capital += parseFloat(shareInfo.capital);
                                quantity += parseInt(shareInfo.quantity);
                                share_fee_fixed += parseFloat(shareInfo.portfolio_share_fee_fixed);
                                share_fee_percent += parseFloat(shareInfo.portfolio_share_fee_percent) * capital;
                                gain_price += parseFloat(shareInfo.gain_price);
                                var tmp_virtual_capital = parseFloat($(this).find('[data-virtual_capital]').data('virtual_capital'));
                                if (!isNaN(tmp_virtual_capital)) {
                                    virtual_capital += tmp_virtual_capital;
                                }
                            });

                            // Calculate
                            var virtual_capital_gain = virtual_capital - capital;
                            var virtual_gain_percent = virtual_capital_gain / capital * 100;
                            var overall_gain = virtual_capital_gain + gain_price;
                            var overall_percent = overall_gain / capital * 100;

                            if (debug) {
                                var debug_values = {
                                    'Method ' : 'updateShareTableTotal'
                                    , 'symbol' : symbol
                                    , 'capital' : capital
                                    // , 'buying_price' : buying_price
                                    , 'quantity' : quantity
                                    , 'share_fee_fixed' : share_fee_fixed
                                    , 'share_fee_percent' : share_fee_percent
                                    , 'gain_price' : gain_price
                                    , 'virtual_capital' : virtual_capital
                                    , 'virtual_capital_gain' : virtual_capital_gain
                                    , 'virtual_gain_percent' : virtual_gain_percent
                                    , 'overall_gain' : overall_gain
                                    , 'overall_percent' : overall_percent
                                };
                                console.log(debug_values);  
                            }
                            
                            var virtual_capital_gain_lg = "loose";
                            if (0 < virtual_capital_gain) {
                                virtual_capital_gain_lg = "gain";
                            }
                            var overall_capital_lg = "loose";
                            if (0 < overall_gain) {
                                overall_capital_lg = "gain";
                            }
                            // Set Virtual capital
                            $(this).find('tfoot span[data-virtual_capital]').html(Math.round((virtual_capital * 100) / 100));

                            // Set Virtual capital gain
                            $(this).find('tfoot [data-virtual_capital_gain]').html(Math.round((virtual_capital_gain * 100) / 100));
                            $(this).find('tfoot [data-virtual_capital_gain]').parent().attr('data-loose_gain',virtual_capital_gain_lg);

                            // Set Virtual capital gain percent
                            $(this).find('tfoot [data-virtual_gain_percent]').html(Math.round((virtual_gain_percent * 100) / 100));
                            $(this).find('tfoot [data-virtual_gain_percent]').parent().attr('data-loose_gain',virtual_capital_gain_lg);

                            // Set overall gain
                            $(this).find('tfoot [data-overall_gain]').html(Math.round((overall_gain * 100) / 100));
                            $(this).find('tfoot [data-overall_gain]').parent().attr('data-loose_gain',overall_capital_lg);

                            // Set overall percent
                            $(this).find('tfoot [data-overall_percent]').html(Math.round((overall_percent * 100) / 100));
                            $(this).find('tfoot [data-overall_percent]').parent().attr('data-loose_gain',overall_capital_lg);
                        });
                    });
                }
                


                reloadShare();
                window.setInterval(function(){
                    reloadShare();
                }, 300000);


                    //http://jsbin.com/OQIZilU/5/edit?html,css,js,output
                    var safeColors = ['00','33','66','99','cc','ff'];
                    var rand = function() {
                        return Math.floor(Math.random()*6);
                    };
                    var randomColor = function() {
                        var r = safeColors[rand()];
                        var g = safeColors[rand()];
                        var b = safeColors[rand()];
                        return "#"+r+g+b;
                    };
                    var rnd = function() {
                        return ("0"+Math.floor(Math.random()*256).toString(16)).substr(-2,2);
                    };
                    var rndColor = function() {
                        var r = rnd();
                        var g = rnd();
                        var b = rnd();
                        return "#"+r+g+b;
                    };
                    
                    // Generate color
                    var portfolio_colors = {1 : '#003d8e', 2 : '#109f48'};
                    var share_colors = [];
                    var share_active = [];
                    var type_colors = {'BUY' : '#ff8118', 'DIVIDEND' : '#00ff00', 'SELL': '#349933'};
                    $("#tab-historic tbody tr").each(function () {
                        var id_share = $(this).data('id_share');
                        var id_portfolio = $(this).data('id_portfolio');
                        var type = $(this).data('type');
                        if (!portfolio_colors.hasOwnProperty(id_portfolio)) {
                            portfolio_colors[id_portfolio] = randomColor().toUpperCase();
                        }
                        if (!share_colors.hasOwnProperty(id_share)) {
                            share_colors[id_share] = randomColor().toUpperCase();
                        }
                        if (!type_colors.hasOwnProperty(type)) {
                            type_colors[type] = randomColor().toUpperCase();
                        }
                    });
                    
                    // Fill with color
                    for(var i in portfolio_colors)
                    {
                        $("tbody tr[data-id_portfolio='"+i+"']").each(function () {
                            $(this).find('.portfolio').each(function() {
                                $(this).css('color', portfolio_colors[i]);
                            });
                        });
                    }
                    for(var i in share_colors)
                    {
                        $("tbody tr[data-id_share='"+i+"']").each(function () {
                            $(this).find('.share').each(function() {
                                $(this).css('color', share_colors[i]);
                            });
                        });
                    }
                    for(var i in type_colors)
                    {
                        $("tbody tr[data-type='"+i+"']").each(function () {
                            $(this).find('.type').each(function() {
                                $(this).css('color', type_colors[i]);
                            });
                        });
                    }

            });

        </script>


    </head>
    <body>
        <h1>Bonjour <?php echo $templateVar['user']->name; ?></h1>
        <div class="tabs">
            <ul>
                <li><a href="#tab-portfolios">Portfolios</a></li>
                <li><a href="#tab-shares">Shares</a></li>
                <li><a href="#tab-historic">Historic</a></li>
            </ul>
            
            <div id="tab-portfolios" class='tabs'>
                <?php

                // Order portfolios by name
                $portfolios_by_name = [];
                $portfoliosTotal = [];
                foreach($templateVar['user']->portfolios as $user_portfolio) {
                    $portfolios_by_name[$user_portfolio->portfolio->name] = $user_portfolio;
                    $portfoliosTotal[$user_portfolio->portfolio->name] = $user_portfolio->total;
                }
                ksort($portfolios_by_name);
                ksort($portfoliosTotal);
                ?>
                
                <ul>
                    <li><a href="#tab-portfolio-resume">Resume</a></li>
                    <?php 
                    foreach($portfolios_by_name as $name => $user_share) {
                    ?>
                    <li><a href="#tab-portfolio-<?php echo $user_share->portfolio->id;?>"><?php echo $name;?></a></li>
                    <?php 
                    }
                    ?>
                </ul>
                
                <div id="tab-portfolio-resume" class="portfolio" >
                    <?php
                        $type = 'portfolio';
                        $datasTable = $portfoliosTotal;
                        $datasTotal = $templateVar['user']->total;
                        $currency = '€';
                        //include __DIR__.'/share.inc.html';
                    ?>
                </div>
                
                <?php 
                foreach($portfolios_by_name as $name => $user_share) {
                ?>
                <div id="tab-portfolio-<?php echo $user_share->portfolio->id;?>" class="portfolio <?php echo $name;?>" >
                    <?php
                        $type = 'share';
                        $datasTable = $user_share->shares;
                        $datasTotal = $user_share->total;
                        include __DIR__.'/share.inc.html';
                    ?>
                </div>
                <?php 
                }
                ?>
            </div>

            <div id="tab-shares" class='tabs'>
                <?php
                
                // Order shares by name
                $share_by_name = [];
                $sharetotal = [];
                foreach($templateVar['user']->shares as $user_share) {
                    $share_by_name[$user_share->share->name] = $user_share;
                    $sharetotal[$user_share->share->name] = $user_share->total;
                }
                ksort($share_by_name);
                ksort($sharetotal);
                
                ?>
                <ul>
                    <li><a href="#tab-share-resume">Resume</a></li>
                    <?php 
                    foreach($share_by_name as $name => $user_share) {
                    ?>
                    <li><a href="#tab-share-<?php echo $user_share->share->id;?>"><?php echo $name.($user_share->isActive()?' *':'');?></a></li>
                    <?php 
                    }
                    ?>
                </ul>

                <div id="tab-share-resume" class="share" >
                    <?php
                        $type = 'share';
                        $datasTable = $sharetotal;
                        $datasTotal = $templateVar['user']->total;
                        $currency = '€';
                        include __DIR__.'/share.inc.html';
                    ?>
                </div>
                <?php 
                foreach($share_by_name as $name => $user_share) {
                ?>
                <div id="tab-share-<?php echo $user_share->share->id;?>" class="share <?php echo $name.($user_share->isActive()?'active':'inactive');?>" >
                    <?php
                        $type = 'portfolio';
                        $datasTable = $user_share->portfolios;
                        $datasTotal = $user_share->total;
                        include __DIR__.'/share.inc.html';
                    ?>
                </div>
                <?php 
                }
                ?>
            </div>
            <div id="tab-historic">
                <?php
                include __DIR__.'/historic.inc.html';
                ?>
            </div>
        </div>
        <div class="legend">
            <h1>Legend</h1>
            <ul>
                <li> <i class="fas fa-gift"></i> Dividend</li>
                <li> <i class="far fa-money-bill-alt"></i> Price</li>
                <li> <i class="fas fa-list-ol"></i> Count/Quantity</li>
                <li> <i class="far fa-compass"></i> Average</li>
                <li> <i class="fas fa-percent"></i> Percent</li>
                <li> <i class="far fa-calendar"></i> Per year</li>
                <li> <i class="far fa-calendar-alt"></i> Holding</li>
                <li> <i class="far fa-handshake"></i> Capital gain</li>
                <li> <i class="fas fa-trophy"></i> Gain</li>
                <li> <i class="fas fa-balance-scale"></i> Balance</li>
                <li> <i class="fas fa-piggy-bank"></i> Capital</li>
                <li> <i class="fas fa-shopping-cart"></i> Buying unit price</li>
                <li> <i class="far fa-clock"></i> Current price</li>
                <li> <i class="fas fa-cloud"></i> Virtual</li>
                <li> <i class="fas fa-flag-checkered"></i> Overall gain</li>
            </ul>
        </div>
        
        <pre>
            @TODO : Portofolios -> 1 page per portfolio
            @TODO : Portofolios -> 1 page resume
            @TODO : Swap to https://fr.tradingview.com/rest-api-spec/ 
                https://min-api.cryptocompare.com/data/pricemultifull?fsyms=BTC,ETH&tsyms=EUR 
                https://www.programmableweb.com/news/70-exchange-apis-bitcoin-status-hashrack-and-kraken/2013/11/12 
                https://blockchain.info/fr/api/exchange_rates_api
                https://docs.gdax.com/
                https://developers.coinbase.com/api/v2#get-spot-price
                https://www.coinigy.com/bitcoin-api/
                https://www.coinapi.io/
                https://www.cryptocompare.com/api/#-api-data-coinlist-
            @TODO : Shares -> Add current exchange
            @TODO : Add new portfolio
            @TODO : Portofolios -> Add cash available
            @TODO : Portofolios -> 1 page per portfolio active / unactive
            @TODO : Shares -> Add benchmark
            @TODO : Portfolios -> Add benchmark
            @TODO : Legend : Style it
            @TODO : Historic : Add color (Fix color) and use it in share and portfolio tab
            @TODO : Check all datas
            @TODO : Benchmark : Make an historic
            @TODO : Porfolio : Make an historic
            @TODO : Performances -> Portfolio -> Set graph with benchmark
            @TODO : Order and align table
            @TODO : Split js
        </pre>

        @Information Ocfx / Coin checkup
    </body>
</html>
