<table class="tablesorter">
    <thead>
        <tr>
            <th>Share</th>
            <th>Capital Gain</th>
            <th>Quantity</th>
            <th>Buying Unit Price</th>
            <th>Current Unit Price</th>
            <th>Virtual gain (<?php echo $performance_portfolio->portfolio->currency; ?>)</th>
            <th>Virtual gain (%)</th>
            <th>Gain (Real + Virtual) (<?php echo $performance_portfolio->portfolio->currency; ?>)</th>
            <th>Gain (Real + Virtual) (%)</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($performance_portfolio->active_shares['shares'] as $id_share => $share) {
        ?>
        <tr 
            data-id_share="<?php echo Share_webservice::get($share->share, $templates['user']->webservice[1]->webservice); ?>"
            data-share_openmarket="<?php echo $share->share->open_market; ?>"
            data-id_webservice="<?php echo $templates['user']->webservice[1]->webservice->id; ?>"
            data-last_fee_fixed="<?php echo $share->last_fee_fixed; ?>"
            data-last_fee_percent="<?php echo $share->last_fee_percent; ?>"
            class="active"
        >
            <td>
                <?php echo $share->share->name; ?>
            </td>
            <td
                data-loose_gain="<?php echo (0<$share->totalGain?'gain':'loose'); ?>"
                data-totalGain="<?php echo $share->totalGain; ?>"
            >
                <?php echo $share->totalGain. ' '.$performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-quantity="<?php echo $share->quantity; ?>"
            ><?php echo $share->quantity; ?>
            </td>
            <td
                data-buying_unit_price="<?php echo $share->unit_price; ?>"
                >
                <?php echo $share->unit_price. ' '.$performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-current_unit_price="0"
                >
                <span class="current_unit_price">&nbsp;</span>
                <?php echo $performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-virtual_gain_price="0"
                >
                <span class="virtual_gain_price">&nbsp;</span>
                <?php echo $performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-virtual_gain_percent="0"
                >
                <span class="virtual_gain_percent">&nbsp;</span>
                %
            </td>
            <td
                data-gain_price="0"
                >
                <span class="gain_price">&nbsp;</span>
                <?php echo $performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-gain_percent="0"
                >
                <span class="gain_percent">&nbsp;</span>
                %
            </td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td><?php echo $performance_portfolio->active_shares['total']->totalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td
                data-total_virtual_gain_price="0"
            >
                <span class="total_virtual_gain_price">&nbsp;</span>
                <?php echo $performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-total_virtual_gain_percent="0"
            >
                <span class="total_virtual_gain_percent">&nbsp;</span>
                %
            </td>
            <td
                data-total_gain_price="0"
            >
                <span class="total_gain_price">&nbsp;</span>
                <?php echo $performance_portfolio->portfolio->currency; ?>
            </td>
            <td
                data-total_gain_percent="0"
            >
                <span class="total_gain_percent">&nbsp;</span>
                %
            </td>
        </tr>
    </tfoot>
</table>