<table class="tablesorter">
    <thead>
        <tr>
            <th>Share</th>
            <th>Dividend</th>
            <th>Capital gain</th>
            <th>Total</th>
            <th>Return</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($performance_portfolio->inactive_shares['shares'] as $id_share => $share) {
        ?>
        <tr 
            data-id_share="<?php echo $id_share; ?>"
        >
            <td><?php echo $share->share->name; ?></td>
            <td><?php echo $share->dividend. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->capitalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->totalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->overAll?> %</td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td><?php echo $performance_portfolio->inactive_shares['total']->dividend. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $performance_portfolio->inactive_shares['total']->capitalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $performance_portfolio->inactive_shares['total']->totalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $performance_portfolio->inactive_shares['total']->overAll; ?> %</td>
        </tr>
    </tfoot>
</table>