<table class="tablesorter">
    <thead>
        <tr>
            <th>Share</th>
            <th>Dividend</th>
            <th>Capital gain</th>
            <th>Real Capital Gain</th>
            <th>Quantity</th>
            <th>Buying Unit Price</th>
            <th>Current Unit Price</th>
            <th>Virtual gain (<?php echo $performance_portfolio->portfolio->currency; ?>)</th>
            <th>Virtual gain (%)</th>
            <th>Gain (Real + Virtual) (<?php echo $performance_portfolio->portfolio->currency; ?>)</th>
            <th>Gain (Real + Virtual) (%)</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($shares as $id_share => $share) {
        ?>
        <tr 
            data-id_share="<?php echo $id_share; ?>"
        >
            <td><?php echo $share->share->name; ?></td>
            <td><?php echo $share->dividend. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->capitalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->totalGain. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td><?php echo $share->quantity; ?></td>
            <td><?php echo $share->unit_price. ' '.$performance_portfolio->portfolio->currency; ?></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
</table>