[data-loose_gain="gain"], .gain {
    color: #008300;
}
[data-loose_gain="loose"], .loose {
    color: #ff0000;
}

tfoot {
    font-weight: bold;
    margin-top: 10px;
}
body .tablesorter-default tfoot tr td {
    border-top: 1px #808080 dashed;
}

[data-id_share="ILD"] {
    background-color: #82cffa;
}
