[data-loose_gain="gain"], .gain {
    color: #008300;
}
[data-loose_gain="loose"], .loose {
    color: #ff0000;
}

tfoot {
    font-weight: bold;
    margin-top: 10px;
}
body .tablesorter-default tfoot tr td {
    border-top: 1px #808080 dashed;
}

#tab-portfolio-resume .dividend_count,
#tab-portfolio-resume .dividend_average,
#tab-portfolio-resume .dividend_percent,
#tab-portfolio-resume .dividend_per_year,
#tab-portfolio-resume .holding,
#tab-portfolio-resume .capital_gain_count,
#tab-portfolio-resume .capital_gain_percent,
#tab-portfolio-resume .gain_percent,
#tab-portfolio-resume .capital,
#tab-portfolio-resume .buying_unit_price,
#tab-portfolio-resume .virtual_capital, 
#tab-share-resume .dividend_count,
#tab-share-resume .dividend_average,
#tab-share-resume .dividend_percent,
#tab-share-resume .dividend_per_year,
#tab-share-resume .holding,
#tab-share-resume .capital_gain_count,
#tab-share-resume .capital_gain_percent,
#tab-share-resume .gain_percent,
#tab-share-resume .capital,
#tab-share-resume .buying_unit_price,
#tab-share-resume .virtual_capital {
    display: none;
}