<table class="tablesorter">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="5">Dividend</td>
			<td colspan="2">Capital gain</td>
        </tr>
        <tr>
            <th>Portfolio</th>
            <th>Dividend (<?php echo $user_share_line->portfolio->currency; ?>)</th>
            <th>Dividend count</th>
            <th>Dividend average</th>
			<th>Dividend Overall</th>
			<th>Dividend per share</th>
			<th>Gain</th>
			<th>Gain overall</th>
			<th>Transaction count</th>
			<th>Balance</th>
			<th>Buying unit price</th>
			<th>Quantity</th>
			<th>Capital</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($user_share->portfolios as $id_portfolio => $user_share_line) {
        ?>
        <tr 
            data-id_share="<?php echo $user_share->share->id; ?>"
            data-share_symbol="<?php echo $user_share->share->symbol; ?>"
            data-id_portfolio="<?php echo $user_share_line->portfolio->id; ?>"
        >
            <td class="portfolio_name">
                <?php echo $user_share_line->portfolio->name; ?>
            </td>
            <td class="dividend_amount">
                <?php echo $user_share_line->dividend_price; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="dividend_count">
                <?php echo $user_share_line->dividend_count; ?>
            </td>
            <td class="dividend_average">
                <?php echo $user_share_line->dividend_average; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
			<td class="dividend_overall">
				???? %
			</td>
			<td class="dividend_unit">
				????
				<?php echo $user_share_line->portfolio->currency; ?>
			</td>
			<td class="capital_gain">
				????
				<?php echo $user_share_line->portfolio->currency; ?>
			</td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
    <tfoot>
        <td class='total'>
            Total
        </td>
        <td class='dividend_amount'>
            <?php echo $user_share->total->dividend_price; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class='dividend_count'>
            <?php echo $user_share->total->dividend_count; ?>
        </td>
		<td class="dividend_average">
			<?php echo $user_share->total->dividend_average; ?>
			<?php echo $user_share_line->portfolio->currency; ?>
		</td>
		<td class="dividend_overall">
			???? %
		</td>
		<td class="dividend_unit">
			????
			<?php echo $user_share_line->portfolio->currency; ?>
		</td>
		<td class="capital_gain">
			????
			<?php echo $user_share_line->portfolio->currency; ?>
		</td>
    </tfoot>
</table>