<table class="tablesorter">
    <thead>
        <tr>
            <th>Portfolio</th>
            <th>Dividend</th>
            <th>Dividend count</th>
            <th>Dividend average</th>
            <th>Capital gain</th>
            <th>Gain</th>
            <th>Balance</th>
            <th>Buying unit price</th>
            <th>Quantity</th>
            <th>Capital</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($user_share->portfolios as $id_portfolio => $user_share_line) {
        ?>
        <tr 
            data-id_share="<?php echo $user_share->share->id; ?>"
            data-share_symbol="<?php echo $user_share->share->symbol; ?>"
            data-id_portfolio="<?php echo $user_share_line->portfolio->id; ?>"
            >
            <td class="portfolio_name">
                <?php echo $user_share_line->portfolio->name; ?>
            </td>
            <td class="dividend_amount">
                <?php echo $user_share_line->dividend_price; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="dividend_count">
                <?php echo $user_share_line->dividend_count; ?>
            </td>
            <td class="dividend_average">
                <?php echo $user_share_line->dividend_average; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="capital_gain">
                <?php echo $user_share_line->capitalGain_price; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="gain">
                <?php echo $user_share_line->gain_price; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="balance">
                <?php echo $user_share_line->balance; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="buying_unit_price">
                <?php echo $user_share_line->unit_price; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
            <td class="quantity">
                <?php echo $user_share_line->quantity; ?>
            </td>
            <td class="capital">
                <?php echo $user_share_line->capital; ?>
                <?php echo $user_share_line->portfolio->currency; ?>
            </td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
    <tfoot>
        <td class='total'>
            Total
        </td>
        <td class='dividend_amount'>
            <?php echo $user_share->total->dividend_price; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class='dividend_count'>
            <?php echo $user_share->total->dividend_count; ?>
        </td>
        <td class="dividend_average">
            <?php echo $user_share->total->dividend_average; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class="capital_gain">
            <?php echo $user_share->total->capitalGain_price; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class="gain">
            <?php echo $user_share->total->gain_price; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class="balance">
            <?php echo $user_share->total->balance; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class="buying_unit_price">
            <?php echo $user_share->total->unit_price; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
        <td class="quantity">
            <?php echo $user_share->total->quantity; ?>
        </td>
        <td class="capital">
            <?php echo $user_share->total->capital; ?>
            <?php echo $user_share_line->portfolio->currency; ?>
        </td>
    </tfoot>
</table>