<table class="tablesorter">
    <thead>
        <tr>
            <th>Date</th>
            <th>Portfolio</th>
            <th>Share</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Type</th>
            <th>Fee Fixed</th>
            <th>Fee percent</th>
        </tr>
    </thead>
    <tbody>
        <?php 
        foreach ($current_tab->data as $transaction) {
        ?>
        <tr 
            data-id_share="<?php echo $transaction->share->id; ?>"
            data-id_portfolio="<?php echo $transaction->portfolio->id; ?>"
            data-type="<?php echo $transaction->type; ?>"
        >
            <td class="date"><?php echo $transaction->date->format('d/m/Y'); ?></td>
            <td class="portfolio"><?php echo $transaction->portfolio->getDisplay(); ?></td>
            <td class="share"><?php echo $transaction->share->getDisplay(); ?></td>
            <td class="quantity"><?php echo $transaction->quantity; ?></td>
            <td class="unit_price"><?php echo $transaction->unit_price; ?></td>
            <td class="type"><?php echo $transaction->type; ?></td>
            <td class="fee_fixed"><?php echo $transaction->fee_fixed; ?></td>
            <td class="fee_percent"><?php echo $transaction->fee_percent; ?></td>
        </tr>
        <?php 
        }
        ?>
    </tbody>
</table>